{% extends "base.html" %} 

{% load i18n %} 
{% load account socialaccount %} 
{% trans "Login" %}

{% block content %}
<div class="container sign-up">
  <div class="row">
    <div class="col-md-6 mt-5 offset-md-3">
      <h1>{% trans "Login" %}</h1>
      <p>
        {% blocktrans %}If you have not created an account yet, then please sign up
        <a href="{{ signup_url }}">HERE</a>.{% endblocktrans %}
      </p>
      <form class="login form-login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %} {{ form.as_p }} {% if redirect_field_value %}
        <input
          type="hidden"
          name="{{ redirect_field_name }}"
          value="{{ redirect_field_value }}"
        />
        {% endif %} 
        <button class="btn btn-success" type="submit">
          {% trans "Sign In" %}
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
