{% extends "base.html" %} {% load i18n %} {% block head_title %}{% trans "Sign
Out" %}{% endblock %} {% block content %}
<div class="container logout-form">
  <div class="row">
    <div class="col-md-6 mt-5 offset-md-3">
      <h3 class="form-title">{% trans "Logout" %}</h3>
      <h5 class="form-title-subtext">{% trans 'Are you sure you want to logout?' %}</h5>
      <form class="logout-form-form" method="post" action="{% url 'account_logout' %}">
        {% csrf_token %} {% if redirect_field_value %}
        <input
          type="hidden"
          name="{{ redirect_field_name }}"
          value="{{ redirect_field_value }}"
        />
        {% endif %}
        <button class="btn btn-success" type="submit">
          {% trans 'Logout' %}
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
