:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --bs-green: #2da2a6;
}

.btn-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: #2da2a6;
    --bs-btn-border-color: #2da2a6;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #2da2a6;
    --bs-btn-hover-border-color: #248083;
    --bs-btn-focus-shadow-rgb: 60,153,110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #248083;
    --bs-btn-active-border-color: #248083;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #2da2a6;
    --bs-btn-disabled-border-color: #2da2a6;
  }

/* ------------- WEB-PAGE ------------- */
.web-page {
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-top: -70px;
    overflow: hidden;
    position: relative;
    z-index: -1;
   }

.web-page-welcome {
    color: #e9e8ea;
    margin-top: 15%;
    margin-left: 5%;
    text-align: left;
}
.web-page-welcome-main {
    font-size: 3.7rem;
    font-weight: 700;
    margin-bottom: 0;
    text-shadow: 0 0 10px #000000;
}
.web-page-welcome-p {
    font-size: 2rem;
    font-weight: 500;
    text-shadow: 0 0 10px #000000;
}

.web-page-logo {
    height: 2.2rem;
}