{% extends 'base.html' %} 
{% load static %}
{% block content %}
<div class="web-page" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url({% static 'img/background-small.jpg' %});">
  <div class="web-page-welcome">
    <div class="web-page-welcome-main">Welcome to Recipe's Book</div>
    <p class="web-page-welcome-p">
      Here you can find a lot of recipes for different dishes
    </p>
    <p class="web-page-welcome-p">Enjoy your meal!</p>
  </div>
</div>
{% endblock %}
