{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="">
      <img
        class="web-page-logo"
        src="static/img/logo_text_white.png"
        alt="logo"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={% url 'recipe_list' %}>RECIPES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">FAVORITES</a>
        </li>
      </ul>
      {% if user.is_authenticated %}
      <span class="navbar-text d-flex me-4">
        <form action="{% url 'logout' %}" method="POST">
          {% csrf_token %}
          <button class="btn btn-success">LOGOUT</button>
        </form>
      </span>
      {% else %}
      <span class="navbar-text d-flex me-4">
        <button class="btn btn-success">SIGNUP</button>
      </span>
      <span class="navbar-text d-flex me-2">
        <form action="{% url 'login_page' %}" method="POST">
          {% csrf_token %}
          <button class="btn btn-success">LOGIN</button>
        </form>
      </span>
      {% endif %}
    </div>
  </div>
</nav>
