{% extends 'base.html' %}
{% block content %}
<div class="recipes-page">
{% for recipe in recipes %}
<a href="{% url 'recipe_detail' recipe.id %}">
<div class="card-container">
  <div class="card" style="width: 18rem;">
    <img src={{recipe.image}} class="card-img-top" alt="IMAGE">
    <div class="card-body">
      <h5 class="card-title">{{recipe.title}}</h5>
      <p class="card-text">{{recipe.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Preparation time: {{recipe.cooking_time}} min</li>
      <li class="list-group-item">Serve: {{recipe.servings}} people</li>
    </ul>
  </div>
</div>
</a>
{% endfor %}
</div>
{% endblock %}